/* 
    This file contains some styles that are needed to stylize a few elements
    in ShadCN. ShadCN is not fully compatible with Tailwind v4. Many of 
    these were defined in the tailwind.config.js file, but the
    Tailwind config is not being utilized in v4.
*/

/********** SHADCN UI Sidebar styles **********/


[data-state="expanded"] .w-\[--sidebar-width\] {
    width: var(--sidebar-width);
}

.w-\[--sidebar-width\],
[data-sidebar="sidebar"] {
    border-color: #e5e5e5;
}

[data-variant="floating"] [data-sidebar="sidebar"] {
    background: #fafafa;
    box-shadow: none;
    ;
}

.bg-sidebar {
    background-color: var(--sidebar-background);
}

.bg-sidebar-primary {
    background-color: var(--sidebar-primary);
}

.text-sidebar-primary-foreground {
    color: var(--sidebar-primary-foreground);
}

.hover\:text-sidebar-accent-foreground:hover {
    color: var(--sidebar-accent-foreground);
}

.hover\:bg-sidebar-accent:hover {
    background-color: var(--sidebar-accent);
}


/********** End SHADCN UI Sidebar styles **********/

/* Need to figure out why button is not using pointer cursor */

button {
    cursor: pointer !important;
}


/* Popover styles */

.bg-popover {
    border: 1px solid #e1e1e1;
}